// ==========================================================================
// Links
// ==========================================================================

a {
	color: map-get($root-font, color);
	text-decoration: none;

	&:visited {
		// color: purple;
	}
	&:hover,
	&:focus,
	&:active {
		// color: midnightblue;
	}
}

%underline {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, map-get($root-font, color) 75%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 em(23px);
}
