// ==========================================================================
// Portfolio template styles
// ==========================================================================

.portfolio {
	@extend .clearfix;
}

.portfolio-item {
	position: relative;
	float: left;
	padding-top: 15.625%;
	width: 25%;
	height: 0;
	background: #eee;

	&:nth-child(2n) {
		background: #fafafa;
	}
	&:nth-child(3n) {
		background: #ddd;
	}
	&:nth-child(5n) {
		background: #999;
	}
	&:nth-child(7n) {
		background: #777;
	}
}
